<h1><%= @list.name %></h1>

<%= link_to 'back to lists', root_path %>

<%= link_to 'add a bookmark', new_list_bookmark_path(@list) %>

<% @list.bookmarks.each do |bookmark| %>
<div class="card col-4">
  <h2><%= bookmark.comment %></h2>
  <p><%= bookmark.movie.title %></p>
</div>
<% end %>
