<!-- <div class="navbar" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path @list.photo.key, height: 300, crop: :fill %>')">

</div> -->

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= cl_image_path @list.photo.key, crop: :fill %>');">
  <div class="container">
    <h1><%= @list.name %></h1>
  </div>
</div>

<div class="container">
  <p class="btn mt-2"><%= link_to 'add a movie', new_list_bookmark_path(@list) %></p>
</div>

<div class="container d-flex">
  <% @list.bookmarks.each do |bookmark| %>
    <div class="card-trip col-4">
      <img src="<%= bookmark.movie.poster_url %>" />
      <div class="card-trip-infos">
        <div>
          <h2><%= bookmark.movie.title %></h2>
          <p><%= bookmark.movie.overview %></p>
        </div>
      </div>
      <div class="card-trip-infos">
        <p><%= bookmark.comment %></p>
        <p class="delete">
        <%= link_to 'x',
        bookmark_path(bookmark),
        method: :delete,
        data: { confirm: "Are you sure?" } %>
        </p>
      </div>
    </div>
  <% end %>
</div>
