<h1><%= @list.name %></h1>

<%= link_to 'back to lists', root_path %>

<%= link_to 'add a bookmark', new_list_bookmark_path(@list) %>
<div class="container d-flex">
  <% @list.bookmarks.each do |bookmark| %>
  <div class="card">
    <h3><%= bookmark.movie.title %></h3>
    <p><%= bookmark.comment %></p>
    <img src="<%= bookmark.movie.poster_url %>">
  </div>
  <% end %>
</div>
